/* Genneral */
.block {
	margin-bottom: 24px;
	float: left;
}

.full-width-column {
	width: 100%;
	clear: both;
}

.one-half-column {
	width: 47.57%;
	margin-right: 4.85%;
}

.one-third-column {
	width: 30.1%;
	margin-right: 4.85%;
}

.one-fourth-column {
	width: 21.36%;
	margin-right: 4.85%;
}

.two-thirds-column {
	width: 65.05%;
	margin-right: 4.85%;
}

.last {
	margin-right: 0 !important;
}






.atticthemes-box-builder-content {
	overflow: hidden;
}



/* boxbuilder sections / rows */
.boxbuilder-content .content-wrapper,
.boxbuilder-content .content-container {
	max-width: inherit;
}






.atticthemes-box-builder-content {
	width: 100%;
	overflow: hidden;
}



.boxbuilder-content .atbb-section {
	position: relative;
	display: block;
	overflow: hidden;
}

.boxbuilder-content .atbb-section.section-normal-width {
	width: 100%;
	max-width: 920px;

	margin-left: auto;
	margin-right: auto;
}

.boxbuilder-content .atbb-section.section-full-width {
	width: 100%;
	max-width: inherit;
}

.boxbuilder-content .atbb-row {
	position: relative;
	width: 100%;
	max-width: 920px;

	margin: 0 auto;

	z-index: 1;
}


.section-background .atbb-row:last-child .block,
.section-background .block.full-width-column.last,
.block.full-width-column.last:first-child {
	margin-bottom: 0;
}




.boxbuilder-content .atbb-section.section-background {
	padding: 60px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	margin-top: 24px;
	margin-bottom: 48px;

	background-color: #383c3f;
	color: #fff;
	overflow: hidden;
}

.boxbuilder-content .atbb-section.section-background:first-child {
	margin-top: 0;
}

.boxbuilder-content .atbb-section.section-background p,
.boxbuilder-content .atbb-section.section-background h1, .atbb-section.section-background h2,
.boxbuilder-content .atbb-section.section-background h3, .atbb-section.section-background h4,
.boxbuilder-content .atbb-section.section-background h5, .atbb-section.section-background h6,
.boxbuilder-content .atbb-section.section-background blockquote,
.boxbuilder-content .atbb-section.section-background .atbb-services-block-icon {
	color: #fff;
}

.atbb-section.section-background .section-background-media-container {
	display: block;
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	opacity: 0;
	visibility: hidden;

	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;

	z-index: 0;
	background-repeat: no-repeat;
}

.atbb-section.section-background .section-background-media-container.atbb-bg-loaded {
	opacity: 0.3;
	visibility: visible;
}

.boxbuilder-content .atbb-section.section-background-image .section-background-media-container.section-media-background-type-normal {
	background-attachment: scroll;
}

.boxbuilder-content .atbb-section.section-background-image .section-background-media-container.section-media-background-type-parallax {
	
}


.boxbuilder-content .atbb-section.section-background-image .section-background-media-container.section-media-size-auto {
	background-size: auto;
}

.boxbuilder-content .atbb-section.section-background-image .section-background-media-container.section-media-size-cover {
	background-size: cover;
}

.boxbuilder-content .atbb-section.section-background-image .section-background-media-container.section-media-size-contain {
	background-size: contain;
}


.boxbuilder-content .atbb-section.section-background-image .section-background-media-container.section-media-align-left {
	background-position: left center;
}

.boxbuilder-content .atbb-section.section-background-image .section-background-media-container.section-media-align-center {
	background-position: center center;
}

.boxbuilder-content .atbb-section.section-background-image .section-background-media-container.section-media-align-right {
	background-position: right center;
}


.boxbuilder-content .atbb-section.section-background-video .section-background-media-container video {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}











.boxbuilder-content .site-content .entry-content, 
.boxbuilder-content .page-content {
	margin: 0;
	max-width: inherit;
	padding-left: 0;
	padding-right: 0;
}

.edit-link {
	margin: 0 auto;
	max-width: 474px;
	padding-right: 30px;
	padding-left: 30px;
}












/* br */

.break {
	display: block;
}





/*text block*/

.atbb-post-content-block > *:last-child,
.atbb-text-block > *:last-child {
	margin-bottom: 0;
}












/* Message Boxes */
.message-box {
	position: relative;
	padding: 17px 20px 17px 65px;
	color: #666;
	width: auto !important;

	margin-bottom: 24px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	background-color: #f8f8f8;
}

.message-box p {
	margin-bottom: 0;
}

.message-box:before {
	display: block;
	position: absolute;

	left: 20px;

	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	letter-spacing: 2px;
	font-size: 32px;

	margin-top: -3px;
	
}

.notification:before {
	content: '\f05a';
	color: #93b3ca;
}

.error:before {
	content: '\f057';
	color: #f15757;
}

.success:before {
	content: '\f058';
	color: #9cbd6b;
}

.warning:before {
	content: '\f071';
	color: #fcd060;
}











/* tabs */
.tab-box {
	margin: 0;
	margin-bottom: 20px;
}

.tab-box .tab-btns {
	position: relative;
	display: block;
	list-style: none;
	width: 100%;
	overflow: hidden;
	margin: 0;

	z-index: 5;

	top: 1px;
	padding: 0;
}

.tab-box .tab-btns li {
	display: block;
	float: left;

	border: 1px solid #ededed;
	border-right-style: none;
	border-bottom-style: none;

	background-color: #fff;
}

.tab-box .tab-btns li:last-child {
	border-right: 1px solid #ededed;
}

.tab-box .tab-btns li.active-tab {
	border-bottom: 1px solid #fff;
}

.tab-box .tab-btns li a {
	display: block;
	padding: 12px;

	text-decoration: none;
	color: #383c3f;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
}

.tab-box .tab-btns li.active-tab a {
	color: #9dc563;
}


.tab-box .tabs {
	position: relative;
	display: block;
	list-style: none;
	width: 100%;
	overflow: hidden;
	margin: 0;

	border-top: 1px solid #ededed;

	z-index: 0;

	background-color: #fff;
	padding: 0;
}

.tab-box .tabs li {
	display: block;

	padding: 12px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border: 1px solid #ededed;
	border-top-style: none;

	display: none;
}

.tab-box .tabs li.active-tab {
	display: block;
}
















/* toggles */

.toggle {
	position: relative;
	display: block;
	list-style: none;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.toggle>li {
	display: block;
	float: left;
	clear: both;

	width: 100%;

	border: 1px solid #ededed;
	border-bottom-style: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.toggle>li:last-child {
	border-bottom: 1px solid #ededed;
}

.toggle>li>a {
	display: block;
	padding: 12px;

	text-decoration: none;
	color: #383c3f;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
}

.toggle>li>.toggle-item-content {
	display: block;
	padding: 0 12px 12px 12px;

	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	overflow: hidden;

	-webkit-transition: height 0.3s ease, padding 0.3s ease;
	-moz-transition: height 0.3s ease, padding 0.3s ease;
	-o-transition: height 0.3s ease, padding 0.3s ease;
	transition: height 0.3s ease, padding 0.3s ease;

	display: none;
}

.toggle>li.open>a {
	color: #9dc563;
}












/* Gallery Widget */

/* Grid Gallery */
.atbb-grid-gallery-wrapper {
	width: 100%;
	-webkit-backface-visibility: hidden;
}

.atbb-grid-gallery {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;

	overflow: hidden;
}

.atbb-grid-gallery>li:not(.atbb-grid-gallery-gutter-sizer):not(.atbb-grid-gallery-grid-sizer) {
	display: block;

	/*height: 0;*/

	margin: 0;
	padding: 0;

	float: left;
	margin-right: 3%;
	margin-bottom: 20px;

	overflow: hidden;
}

.atbb-grid-gallery>li.last {
	margin-right: 0 !important;
	clear: right;
}

.atbb-grid-gallery.atbb-grid-gallery-4-columns>li {
	width: 22.75%;
	/*padding-bottom: 22.75%;*/
}

.atbb-grid-gallery.atbb-grid-gallery-3-columns>li {
	width: 31.33%;
	/*padding-bottom: 31.33%;*/
}

.atbb-grid-gallery.atbb-grid-gallery-2-columns>li {
	width: 48.5%;
	/*padding-bottom: 48.5%;*/
}










/*.atbb-grid-gallery.atbb-masonry-gallery>li.atbb-gallery-item {
	margin-right: 0;
}*/

.atbb-grid-gallery.atbb-masonry-gallery.atbb-grid-gallery-4-columns>li,
.atbb-grid-gallery.atbb-masonry-gallery.atbb-grid-gallery-4-columns>li.atbb-grid-gallery-grid-sizer {
	width: 22.75%;
	/*padding-bottom: 22.75%;*/
}

.atbb-grid-gallery.atbb-masonry-gallery.atbb-grid-gallery-3-columns>li,
.atbb-grid-gallery.atbb-masonry-gallery.atbb-grid-gallery-3-columns>li.atbb-grid-gallery-grid-sizer {
	width: 31.33%;
	/*padding-bottom: 31.33%;*/
}

.atbb-grid-gallery.atbb-masonry-gallery.atbb-grid-gallery-2-columns>li,
.atbb-grid-gallery.atbb-masonry-gallery.atbb-grid-gallery-2-columns>li.atbb-grid-gallery-grid-sizer {
	width: 48.5%;
	/*padding-bottom: 48.5%;*/
}

.atbb-grid-gallery img {
	max-width: 100%;
}

.atbb-grid-gallery.atbb-masonry-gallery>li.atbb-grid-gallery-gutter-sizer {
	width: 3%;
}





/* Slider Gallery */
.atbb-slider-gallery-wrapper {
	position: relative;
}

.atbb-slider-gallery {
	display: block;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;

	width: 100%;

	overflow: hidden;
	
}

.atbb-slider-gallery>li {
	position: relative;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
	-webkit-backface-visibility: hidden;
}

.atbb-slider-gallery>li img {
	width: 100%;
	height: auto;
}




.flex-control-nav {
	display: block;
	position: absolute;
	list-style: none;

	width: 100%;

	bottom: 12px;
	left: 0;

	margin: 0;
	padding: 0;

	text-align: center;
	overflow: hidden;

	z-index: 10;
}

.flex-control-nav>li {
	display: inline-block;

	height: 11px;
	width: 11px;

	margin: 0 2px;
}

.flex-control-nav>li a {
	display: block;
	padding-top: 11px;
	height: 0;
	overflow: hidden;

	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;

	background-color: #fff;

	cursor: pointer;

	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
}

.flex-control-nav>li a.flex-active {
	background-color: #9dc563;
}

.flex-control-nav>li a:hover {
	background-color: #9dc563;
}

.flex-direction-nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.flex-direction-nav>li a {
	display: block;
	position: absolute;

	top: 15px;

	z-index: 20;
	text-decoration: none;
	background-color: #383c3f;
	color: #fff;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	overflow: hidden;
}

.flex-direction-nav>li a:before {
	position: relative;
	display: block;
	float: left;

	width: 16px;
	height: 16px;
	padding: 4px;

	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	font-size: 14px;

	z-index: 10;
}


.flex-direction-nav>li a.flex-prev {
	right: 40px;
}

.flex-direction-nav>li a.flex-prev:before {
	content: '\f053';
}

.flex-direction-nav>li a.flex-next {
	right: 15px;
}

.flex-direction-nav>li a.flex-next:before {
	content: '\f054';
}



.atbb-slider-gallery-caption {
	display: block;
	position: absolute;

	bottom: 40px;
	left: 20px;

	padding: 5px 16px 6px 16px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	background-color: rgba(56, 60, 63, 0.75);
	color: #fff;
}























/* MEDIA BOX */

.mediabox-window {
	position: fixed;
	display: table;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	z-index: 999999;
}

.mediabox-window:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.mediabox-background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	/*background-image: url(../images/loading-dark.gif);*/
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.mediabox-media {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.mediabox-background-closer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.mediabox-media-wrapper {
	position: relative;
}

.mediabox-media img,
.mediabox-media iframe {
	position: relative;
	display: inline-block !important;
	max-width: 98%;
	/*max-height: 680px;*/
	border: 4px solid rgba(0,0,0,0.3);
	/*box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);*/
}

.mediabox-html-element-wrapper {
	margin: 0 auto;
	background-color: #fff;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	text-align: left;
}


.mediabox-media img {
	width: auto !important;
	height: auto !important;
}

.mediabox-title {
	position: fixed;
	bottom: 100px;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 5;
}

.mediabox-title-wrapper {
	position: relative;
	display: inline-block;
	padding: 12px 18px;
	background-color: #111;
	color: #fff;
	max-width: 80%;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.mediabox-controls {
	position: fixed;
	text-align: center;
	width: 100%;
	bottom: 24px;
	z-index: 10;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.mediabox-controls a {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 17px;
	color: #aaa;
	background-color: #111;
	cursor: pointer;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.mediabox-controls a:hover {
	background-color: #000;
}

.mediabox-hidden-control {
	visibility: hidden;
}


.mediabox-controls a.mediabox-prev, .mediabox-controls a.mediabox-close {
	margin-right: 3px;
}



.mediabox-controls a:before {
	display: block;
	position: absolute;

	top: 10px;
	left: 11px;

	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	letter-spacing: 2px;
	font-size: 14px;

	color: #fff;
}


.mediabox-controls a.mediabox-close:before {
	content: '\f00d';
	
}

.mediabox-controls a.mediabox-prev:before {
	content: '\f053';

	top: 11px;
	left: 12px;
}

.mediabox-controls a.mediabox-next:before {
	content: '\f054';

	top: 11px;
	left: 13px;
}


.mediabox-preloader {
	position: absolute;
	left: 50%;
	top: 50%;

	width: 0px;
	height: 0px;

	-webkit-animation: preload 0.5s infinite;
	-moz-animation: preload 0.5s infinite;
	-o-animation: preload 0.5s infinite;
	animation: preload 0.5s infinite;

	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;

	z-index: 9999;
}

.mediabox-preloader:before,
.mediabox-preloader:after {
	content: '';
	display: block;
	position: relative;

	width: 6px;
	height: 6px;

	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;

	background-color: #fff;
}

.mediabox-preloader:before {
	left: -6px;
	top: -6px;
}

.mediabox-preloader:after {
	left: 0px;
	top: -6px;
}



@-webkit-keyframes preload {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes preload {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); }
}
@-o-keyframes preload {
	0% { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); }
}
@keyframes preload {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}




















/* team members */
.atbb-team-members-slider {
	display: block;

	width: 100%;

	padding-top: 36px;
	position: relative;

	overflow: hidden;
}

.atbb-team-members-sldier .atbb-team-members {
	display: block;
	list-style: none;
	margin: 0;
}

.atbb-team-members-sldier .atbb-team-members li {
	margin-right: 4%;
}

.atbb-team-members-sldier .atbb-team-members.atbb-team-members-columns-2 li {
	width: 48%;
}

.atbb-team-members-sldier .atbb-team-members.atbb-team-members-columns-3 li {
	width: 30.65%;
}

.atbb-team-members-sldier .atbb-team-members.atbb-team-members-columns-4 li {
	width: 22%;
}

.atbb-team-members-sldier .atbb-team-members-wrapper .flex-direction-nav>li a {
	top: 0;
}

.atbb-team-members-sldier .atbb-team-members-wrapper .flex-direction-nav>li a.flex-next {
	right: 0px;
}

.atbb-team-members-sldier .atbb-team-members-wrapper .flex-direction-nav>li a.flex-prev {
	right: 26px;
}

.atbb-team-members-sldier .atbb-team-members {
	list-style: none;
	float: left;
}

















/* services */
a.atbb-services-block-icon {
	display: block;
	width: 100%;
	margin-bottom: 10px;

	font-size: 70px;
	color: #383c3f;

	text-decoration: none;
}

.atbb-services-block-align-center {
	text-align: center;
}

.atbb-services-block-align-left {
	text-align: left;
}

.atbb-services-block-align-right {
	text-align: right;
}











/* box-builder skills */

.atbb-skills {
	list-style: none;
	display: block;
	width: 100%;
	margin: 0;
}

.atbb-skills li {
	position: relative;
	display: block;
	width: 100%;
	height: 36px;

	/*border: 1px solid #ededed;*/
	background-color: #383c3f;
	margin-bottom: 12px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	overflow: hidden;
}


.atbb-skills li span.atbb-skill-level {
	position: absolute;
	display: block;
	height: 100%;

	left: 0;
	top: 0;

	background-color: #9dc563;
	z-index: 0;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}


.atbb-skills li span.atbb-skill-title {
	position: absolute;
	display: block;

	left: 6px;
	padding: 6px;
	color: #fff;

	z-index: 5;
}


















/* dropcap */
.drop-cap .first-letter {
	color: #383c3f;
	float: left;
	margin-right: 7px;
	margin-left: -4px;
	font-size: 56px;
	line-height: 48px;
}

.drop-cap.square .first-letter {
	color: #fff;
	float: left;
	margin-right: 7px;
	font-size: 24px;
	line-height: 28px;
	padding: 10px 10px 10px 10px;
	margin-left: 0;
	background-color: #9dc563;
	width: 50px;
	height: 50px;
	text-align: center;
}

.drop-cap.round .first-letter {
	color: #fff;
	float: left;
	margin-right: 7px;
	font-size: 24px;
	line-height: 28px;
	padding: 10px 10px 10px 10px;
	margin-left: 0;
	background-color: #9dc563;
	width: 50px;
	height: 50px;
	text-align: center;

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}